<% layout("/layouts/boilerplate") %>
<body>
    <h3 id="text">How's this?</h3>

    <div class="row justify-content-center" >
        <div class="card listing-card" style="width: 25rem;">
            <img src="<%= item.image %>" class="card-img-top" alt="item_image" style="height: 25rem">
            <div class="card-body">
              <p class="card-text title-text"><b><%= item.title %></b> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Owned by: <%= item.owner.username %></li>
                <li class="list-group-item"><%= item.description %></li>
                <li class="list-group-item">&#8377;<%= item.price.toLocaleString("en-In")%></li>
                <li class="list-group-item"><%= item.location %></li>
                <li class="list-group-item"><%= item.country %></li>
              </ul>
          </div>
    </div>
    
    
        <div class="edit-delete row offset-4 ">
            <form action="/listings/<%= item._id %>/edit">
                <button class="btn">Edit</button>
            </form>
        
            <form method="post" action="/listings/<%= item._id %>/?_method=Delete">
                <button class="btn delete-style">Delete</button>
            </form>
        </div>
    

    <hr>
    <div>
        <h3 id="text" class="row justify-content-center"> Leave a Rating </h3>
        <form action="/listings/<%= item._id %>/reviews" method="post" class="row needs-validation" novalidate >
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" class="form-range " name="rating">
            <label for="comment" class="form-label">Comment</label>
            <textarea name="comment" id="comment" class="form-control"  required></textarea>
            <div class="invalid-feedback">
                Please comment on
            </div>
            <button class="btn mt-3">Submit</button>
        </form>
    </div>

    <hr>
    <div>
        <h3 id="text" class="row justify-content-center">Reviews</h3>
        <div class="row offset-3">
            <% for(let review of item.review){ %>
                <div class="card text-bg-light mt-3 mb-3 mx-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Arjit</h5>
                        <p class="card-text"><%= review.comment %> <br><%= review.rating %> star</p>
                    </div>
                    <form action="/listings/<%= item._id %>/reviews/<%= review._id %>?_method=Delete" method="post">
                        <button class="btn delete-style">Delete</button>
                    </form>
                </div>
            <% } %>   
        </div>
            
        

    </div>
    
    
</body>
